<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <img src="/logo.png" />
  <nav class="main-nav">
    <ul>
      <li>
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
      </li>
      <li>
        <a class="<%= path === '/match' ? 'active' : '' %>" href="/match"
          >Find Product
        </a>
      </li>
      <li>
        <a class="<%= path === '/products' ? 'active' : '' %>" href="/products"
          >Products
        </a>
      </li>
      <% if (isAuthenticated && isCustomer) { %>
      <li>
        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart"
          >Cart
        </a>
      </li>
      <li>
        <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders"
          >Orders
        </a>
      </li>
      <% } %> <% if (isAuthenticated && !isCustomer) { %>
      <li>
        <a
          class="<%= path === '/admin/add-product' ? 'active' : '' %>"
          href="/admin/add-product"
          >Add Product
        </a>
      </li>
      <li>
        <a
          class="<%= path === '/admin/products' ? 'active' : '' %>"
          href="/admin/products"
          >Your Products
        </a>
      </li>
      <% } %>
    </ul>
    <ul>
      <% if (!isAuthenticated) { %>
      <li class="main-header__item">
        <a
          class="<%= path === '/cust-register' ? 'active' : '' %>"
          href="/cust-register"
          >Register</a
        >
      </li>
      <li class="main-header__item">|</li>
      <li>
        <a
          class="<%= path === '/cust-login' ? 'active' : '' %>"
          href="/cust-login"
          >Login</a
        >
      </li>

      <li class="main-header__item">|</li>
      <li class="main-header__item">
        <a
          class="<%= path === '/sme-register' ? 'active' : '' %>"
          href="/sme-register"
          >SME Register</a
        >
      </li>
      <li class="main-header__item">|</li>
      <li class="main-header__item">
        <a
          class="<%= path === '/sme-login' ? 'active' : '' %>"
          href="/sme-login"
          >SME Login</a
        >
      </li>
      <% } else { %>
      <li>
        <form action="/logout" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit">Log Out</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>

<nav class="mobile-nav">
  <img src="/logo.png" />
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/match' ? 'active' : '' %>" href="/match"
        >Find Product
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/products' ? 'active' : '' %>" href="/products"
        >Products</a
      >
    </li>
    <% if (isAuthenticated && isCustomer) { %>
    <li class="mobile-nav__item">
      <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders"
        >Orders</a
      >
    </li>
    <% } %> <% if (isAuthenticated && !isCustomer) { %>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/admin/add-product' ? 'active' : '' %>"
        href="/admin/add-product"
        >Add Product
      </a>
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/admin/products' ? 'active' : '' %>"
        href="/admin/products"
        >Your Products
      </a>
    </li>
    <% } %> <% if (!isAuthenticated) { %>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/cust-register' ? 'active' : '' %>"
        href="/cust-register"
        >Register</a
      >
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/cust-login' ? 'active' : '' %>"
        href="/cust-login"
        >Login</a
      >
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/sme-register' ? 'active' : '' %>"
        href="/sme-register"
        >SME Register</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/sme-login' ? 'active' : '' %>" href="/sme-login"
        >SME Login</a
      >
    </li>
    <% } else { %>
    <li class="mobile-nav__item">
      <form action="/logout" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit">Logout</button>
      </form>
    </li>
    <% } %>
  </ul>
</nav>
