<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <ul class="cart-item-list">
      <% products.forEach(p => { %>
        <li class="cart-item">
          <h1><%= p.productId.title %></h1>
          <h2><%= p.productId.smeName %></h2>
          <h3>Quantity: <%= p.quantity %></h3>
        </li>
      <% }) %>
    </ul>
    <div class="centered"><br>
      <input type="radio" id="delivery" name="order-type" value="delivery">
      <label for="delivery">Delivery</label>
      <input type="radio" id="pickup" name="order-type" value="pickup">
      <label for="pickup">Pickup</label>
      <h2>Total: <%= totalSum %></h2>
    </div>
    <div class="centered">
      <button id="order-btn" class="btn">Proceed to Checkout</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
          var stripe = Stripe('pk_test_51HHivHA3LB3pGIwNjlRpWiDXa62f3y1hVs1pVCd1I5sgYgnTtBCFImLAtOJtgF9XZyJKOHawu0wbrNbNjImlVQU200vE7iRgWk');
          var orderBtn = document.getElementById('order-btn');
          orderBtn.addEventListener('click', function() {
              stripe.redirectToCheckout({
                  sessionId: '<%= sessionId %>'
              });
          });
      </script>
  </div>
  </main>
<%- include('../includes/end.ejs') %>